$font-stack: "Open Sans", sans-serif;
$black: #37383d;
$teal: #24dac6;
$white: #fff;
$light-green: #edf4ec;
$light-teal: #c6e2e9;
$gray: #f2f2f2;

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes myMove {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 200px;
    }
}
@keyframes moveDown {
    from {
        margin-top: -100px;
    }
    to {
        margin-top: 40px;
    }
}

body {
    background: url('abc.jpg');
    background-position: cover center;
    height: 100vh;
    width: 100%;
}
img {
    height: 80px;
    width: 80px;
}
.nav {
    color: white;
    text-decoration: none;
    
}
.wrapper {
    display: flex;
    flex-direction: column;
    font-family: $font-stack;
    font-size: 16px;
}

.Header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    .nav {
        margin: 20px;
        color: white;
        text-shadow: 1px 1px 3px black;
    }
}
.Task {
    .top{
        display:flex;
        height: 500px;
        width: 100%;
        flex-direction: column;
        .Input-section {
            display: flex;
            height: 400px;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-weight: bold;
                display: flex;
                height: 100px;
                width: 300px;
                justify-content: center;
                text-align: center;
                align-items: center;
                font-size: 60px;
                color: $white;
                text-shadow: 5px 5px 15px $black;
                // padding-bottom: 30px;
            }
            .input-row {
                display:flex;
                height: 150px;
                width:100%;
                align-items: center;
                
                justify-content: center;
                .InputBox {
                    border-color: transparent;
                    width: 400px;
                    height: 40px;
                    border-bottom: 2px solid $white;
                    text-align: center;
                    background:transparent;
                    color: $teal;
                    font-size: 28px;
                    text-shadow: 1px 1px 10px $black;
                
                    // text-shadow: 1px 1px 1px $black;
                }
                .InputBox::placeholder {
                    color: $teal;
                    font-size: 24px;
                    text-shadow: 1px 1px 10px $black;
                }
                .InputBox:focus {
                    outline: none;
                }
            } 
        }   
    }
    .Stockitem {
        margin: auto;
        height:90px;
        background: rgba(36,218,198,0.8);
        width: 900px;
        box-shadow: 5px 5px 20px $black;
        animation: fadeIn 2s;
        border-collapse: collapse;
        
        td, {
            border: red;
            text-align: center;
            padding: 8px;
            animation: fadeIn 8s;
        }
        th {
            border: transparent;
            text-align: center;
            padding: 8px;
            color: $white;
            font-size: 18px;
            animation: fadeIn 4s;
        }
    }
    .Table {
        animation: moveDown 2s,
            fadeIn 2s;
            margin-top: 40px;
            
        @extend .Stockitem;
            th {
            color: $white;
            animation: fadeIn 2s;
        }
    }
 }
.brokers {
    background:rgba(255,255,255,0.5) ;
    height: 600px;
    width: 800px;
    margin: 100px auto;
    
    align-items: center;
    justify-content: center;
    ul{
        animation: myMove 1s reverse,
        fadeIn 1s;
        animation-timing-function: ease-in;
        height: 600px;
        width: 800px;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 120px;
        li {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
            p{
                margin-left: 30px;
               font-size: 20px; 
            }
        }
    }
}

.SaveButton {
    Background: $teal;
    border: transparent;
    box-shadow: 4px 4px 10px black;
    width: 68px;
}
.About {
    display: flex;
    height: 800px;
    width:100%;
    justify-content: center;
    align-items: center;
    p {
        animation: fadeIn 1s;
        color: $white;
        font-size: 40px;
        text-shadow: 3px 3px 10px black;
    }
}
